@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .list-professions {
    flex-wrap: nowrap;
  }
  .address {
    margin-left: auto;
  }
  .auth-nav-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    display: flex;
    gap: 40px;
  }
  .section-two {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .list-title-studio {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .list-text-studio {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .list-title-one {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
  }

  .rectangle-one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .social-icon-antenna {
    width: 64px;
    height: 64px;
  }
  .list-title-one {
    margin-left: auto;
    margin-right: auto;
  }
  .photo-one {
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
    gap: 24px;
  }
  .title-What {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    font-family: "Roboto";
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  .button-one {
    margin-left: 500px;
}
  .footer-box-one {
    flex-wrap: nowrap;
    margin-left: 100px;
}
.form-footer {
  margin-left: auto;
}
.subscribe-media {
  margin-left: auto;
}

.button-subscribe:hover,
.button-subscribe:focus {
  background: #4d5ae5;
}
/* .list-markers  {
  display: flex;
} */
.text-footer {
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 268px;
  margin-top: 17px;
  /* margin-left: 80px; */
  /* display: flex; */
}
.footer {
  display: flex;
  justify-content: center;
}
.footer-box {
  height: 80px;
  padding-bottom: 115px;
  margin-left: 80px;
}
.social-media {
  display: flex;
  justify-content: flex-start;
}
.subscribe {
  margin-left: 50px;
}
.advantages {
  width: calc((100% - 72px) / 4);
  margin-bottom: 0;
}
}
@media screen and (min-width: 1200px) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-1.jpg);
    height: 600px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
.section-one {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2X.jpg);
    }
  }
}


