@media screen and (min-width: 1200px) {
  .container { max-width: 1158px; } 
  /* .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office\ 1.jpg);
    margin: 0 auto;
    background-repeat: no-repeat;
  } */
 }
