@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
    
  }
  
  .list-markers {
    list-style-type: none;
  }
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    max-height: 796px;
    padding-top: 80px;
    padding-bottom: 50px;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  .mobile-menu.is-open {
    transform: translateX(0);
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 25px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
  .mobile-text {
    padding-left: 40px;
    padding-right: 40px;
  }
  .studio {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-decoration: none;
  }
  .portfolio {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-decoration: none;
  }
  .contacts {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #404bbf;
    text-decoration: none;
  }
  /* .tel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d5ae5;
    text-decoration: none;
  } */
  /* .email {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
  } */
  .mobail-social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-social-list {
    display: flex;
    gap: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 40px;
    margin-top: 48px;
  }
  .mobile-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-nav-studio {
    margin-bottom: 40px;
  }
  .mobile-nav-portfolio {
    margin-bottom: 40px;
  }
  .mobile-nav-tel {
    margin-top: 284px;
  }
  .mobile-email {
    margin-top: 40px;
  }
  .beckdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .text-footer {
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 268px;
    margin-top: 17px;
  }
  .professions {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    /* margin-bottom: 72px; */
}
/* .advantages{
  margin-bottom: 72px;
} */
.section-img {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  flex-wrap: wrap;
  /* padding-bottom: 96px; */
  /* margin-bottom: 72px; */
}

.section-four {
  background: var(--cloud);
  overflow-x: hidden;
  /* padding-bottom: 96px; */
  display: flex;
  justify-content: center;
}
  .email-footer {
    width: 398px;
  }
  .subscribe-media {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
  }
  .social-media {
    display: flex;
    justify-content: center;
  }
  .list-title-one {
    
    width: 320px;
}
  .list-text-studio {
    width: 396px;
  }
  .list-title-studio {
    width: 396px;
  }
  .tel-menu {
    border: none;
  }
  .email-menu {
    border: none;
  }
  .photo {
    display: block;
  }
  .footer-box-one {
    display: flex;
    padding: 0 15px;
    margin: 0 15px;
    color: var(--white);
    gap: 72px;
    flex-direction: column;
    align-items: center;
}
  .modal-for-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: var(--iris);
  }
  .beckdrop {
    position: fixed;
    opacity: 1;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
   .beckdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 576px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(231, 233, 252, 1);
    cursor: pointer;
    background: #e7e9fc;
    color: #000;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-img {
    fill: currentColor;
  }
  .name {
    width: 360px;
    height: 40px;
    background: #fcfcfc;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 8px;
    text-indent: 38px;
    border: 1px solid rgba(46, 47, 66, 0.2);
  }
  .tel {
    width: 360px;
    height: 40px;
    background: #fcfcfc;
    border-radius: 4px;
    border: 1px solid #2e2f42;
    margin-bottom: 8px;
    margin-top: 4px;
    text-indent: 38px;
    border: 1px solid rgba(46, 47, 66, 0.2);
    font-size: 36px;
  }
  /* .advantages{
    padding-bottom: 72px;
  } */
  .tel-border{
    border: none;
  }
  .mobile-social-list {
    display: flex;
    gap: 35px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 40px;
    margin-top: 48px;
  }
  .mobile-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .email {
    width: 360px;
    height: 40px;
    background: #fcfcfc;
    /* border-radius: 4px; */
    margin-top: 4px;
    border: 1px solid #2e2f42;
    margin-bottom: 8px;
    text-indent: 38px;
    border: 1px solid rgba(46, 47, 66, 0.2);
  }
  .email-border{
    border: none;
  }
  
  .modal-for-link{
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--iris);
  }
  .comment {
    width: 360px;
    height: 120px;
    left: 0px;
    top: 216px;
    border: 1px solid #2e2f42;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgba(46, 47, 66, 0.2);
  }
  .modal-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    padding-top: 8px;
    padding-bottom: 4px;
    position: relative;
  }
  .text-modal {
    width: 360px;
    height: 24px;
    left: 540px;
    top: 152px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 34px;
  }
  .modal-form-checkbox{
    display: none;
  }
  .modal-form-custom-checkbox{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 2px solid var(--navyblue);
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .modal-form-checkbox:checked + .modal-form-custom-checkbox{
  background: #404BBF;
  border: 1px solid #404BBF;
  border-radius: 2px;
  }
  .modal-form-checkbox:checked + .modal-form-custom-checkbox .modal-form-checkbox-icon{
    opacity: 1;
    fill: var(--iris);
  }
  .modal-form-option-span{
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8E8F99;
  }
  .button-send {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    display: block;
    padding: 16px 32px;
    gap: 10px;
    width: 169px;
    height: 56px;
    background: var(--ocean);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto";
    font-style: normal;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border: none;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-img-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45px;
    left: 19px;
    transform: translateY(-50%);
  }
  .form-comment {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    padding-top: 8px;
    padding-left: 16px;
    margin-top: 4px;
    resize: none
  }
  .form-comment::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    opacity: 20;
  } 
  
  
  .name:focus {
    border: 1px solid #4d5ae5;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .name:focus + .modal-img-icon {
    fill: #4d5ae5;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .tel:focus {
    border: 1px solid #4d5ae5;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .tel:focus + .modal-img-icon {
    fill: #4d5ae5;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .email:focus {
    border: 1px solid #4d5ae5;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .email:focus + .modal-img-icon {
    fill: #4d5ae5;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .form-comment:focus {
    border: 1px solid #4d5ae5;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }

  @media screen and (min-width: 480px) {
    .section-one {
      padding-top: 112px;
    padding-bottom: 112px;
      margin: auto;
      max-width: 1440px;
      background-color: var(--title-text-color);
      background-size: cover;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-mobile-1Ð¥.jpg);
      background-repeat: no-repeat;
      background-position: center;
      height: 432px;
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .section-one {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/Dark-bg-2X-mobile.jpg);
      }
    }
  }
}
