:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --Silver: #c0c0c0;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --white: #ffffff;
  --ocean: #404bbf;
}
body {
  background-color: var(--white);
  color: var(--slate);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  min-height: 320px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
cursor {
  pointer-events: painted;
}
.container {
  width: 100%;
  padding-left: 15px;
  /* padding-right: 15px; */
  margin-left: auto;
  margin-right: auto;
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .site-nav-link {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .address {
    display: none;
  }
}
.list-markers {
  list-style-type: none;
}
.rectangle-one {
  display: none;
}

.logo-primary-link {
  color: var(--cloud);
}
.logo-secondary-link {
  color: var(--cloud);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.logo-style {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  max-height: 796px;
  padding-top: 80px;
  padding-bottom: 50px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 25px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  padding-left: 25px;
  padding-right: 25px;
}
.mobile-text {
  padding-left: 40px;
  padding-right: 40px;
}
.studio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-decoration: none;
}
.portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-decoration: none;
}
.contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #404bbf;
  text-decoration: none;
}
.tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
  text-decoration: none;
  width: 230px;
  border: 1px solid rgba(46, 47, 66, 0.2);
}
.email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  width: 230px;
  height: 40px;
  background: #fcfcfc;
  border: 1px solid #2e2f42;
  margin-bottom: 8px;
  margin-top: 4px;
  text-indent: 38px;
  font-size: 20px;
  border: 1px solid rgba(46, 47, 66, 0.2);
}
/* Секция 1 */
.button-one {
  padding: 16px 32px;
  gap: 10px;
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  /* margin-top: 88px; */
  border: none;
  /* display: block; */
  margin: 0 auto;
  /* margin-left: 70px; */
}
.list-title-one {
  /* max-width: 320px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
  padding-top: 112px;
  /* margin-left: 54px; */
  margin-bottom: 72px;
}
.button-text {
  font-weight: 500;
  align-items: center;
  color: #ffffff;
}

/* секция 2 */
.section-two {
  padding-top: 96px;
  padding-bottom: 96px;
}
.list-professions {
  display: flex;
  /* padding-right: 16px; */
  flex-wrap: wrap;
  column-gap: 24px;
  justify-content: center;
}
.list-title-studio {
  font-family: "Roboto";
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  width: 396px;
  margin-bottom: 8px;
  width: 230px;
}
.list-text-studio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 72px;
  width: 264px;
  /* margin-left: 20px; */
}

/* секция 4 */
.section-four {
  background: var(--cloud);
  overflow-x: hidden;
  /* padding-bottom: 96px; */
  display: flex;
    justify-content: center;
}
.title-Our {
  left: 133px;
  top: 1414px;
  font-family: "Roboto";
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 96px;
  padding-bottom: 72px;
}
.section-img {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  flex-wrap: wrap;
  /* margin-top: 72px; */
  row-gap: 48px;
 
}
.mobile-nav-studio {
  margin-bottom: 40px;
}
.mobile-nav-portfolio {
  margin-bottom: 40px;
}
.mobile-nav-tel {
  margin-top: 284px;
}
.mobile-email {
  margin-top: 40px;
}

.professions {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 72px;
}
.list-title-our-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navyblue);
  background: var(--white);
  padding-top: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-text-our-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  color: var(--slate);
  display: flex;
  justify-content: center;
  background: var(--white);
  padding: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.professions-social-list {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 32px;
  background-color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.professional-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
/* секция 5 */
.section-five {
  padding-top: 96px;
  padding-bottom: 96px;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
  overflow-x: hidden;
  display: flex;
    justify-content: center;
}
.customers {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  
  margin-bottom: 72px;
}
.social-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.social-item {
  display: flex;
  column-gap: 24px;
  width: 168px;
  height: 88px;
  row-gap: 48px;
}
.social-link {
  color: #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  position: absolute;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Footer */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background: #2e2f42;
  display: flex;
 justify-content: center;
}
.text-footer {
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 268px;
  margin-top: 17px;
  /* margin-left: 80px; */
}
.logo-footer {
  font-family: inherit;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--cloud);
  flex-direction: row;
  text-decoration: none;
}
.logo-primary-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.footer-box-one {
  display: flex;
  padding: 0 15px;
  margin: 0 15px;
  color: var(--white);
  gap: 72px;
 flex-direction: column;
 align-items: center;
}
.social-link-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  margin-top: 16px;
}
.social-link-footer-one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.social-box-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.social-media {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.subscribe-media {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.subscribe-link-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  margin-top: 16px;
}
.button-subscribe {
  padding: 8px 24px;
  background: var(--ocean);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 170px;
height: 40px;
margin-top: 16px;
}
.form-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.subscribe-icon-footer {
  fill: #ffffff;
}
.email-footer {
  background: #2e2f42;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  color: var(--white);
}
.email-footer::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.email-border{
  border: none;
}
.photo{
  display: block;
}
.tel-border{
  border: none;
}
.button-send:hover,
.button-send:focus {
  background: var(--iris);
}
.list-text:hover,
.list-text:focus {
  color: var(--iris);
}
.button-text:hover,
.button-text:focus {
  color: var(--white);
  background: #404bbf;
  border-color: #404bbf;
}
.button-subscribe:hover,
.button-subscribe:focus {
  background: #4d5ae5;
}
.card-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.button-one:hover,
.button-one:focus {
  background: #404bbf;
}
.social-link:hover,
.social-link:focus {
  color: #404bbf;
}.social-icon:hover,
.social-icon:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.button-close:hover,
.button-close:focus {
  background: var(--iris);
  color: var(--white);
}
.text-link:hover,
.text-link:focus{
  color: var(--iris);
}
.professional-social-link:hover {
  background-color: var(--ocean);
}
.button-send:hover,
.button-send:focus {
  background: var(--iris);
}
.social-link-footer-one:hover,
.social-link-footer-one:focus {
  background: #31d0aa;
}
.beckdrop {
  position: fixed;
  opacity: 1;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .beckdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  height: 576px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(231, 233, 252, 1);
  cursor: pointer;
  background: #e7e9fc;
  color: #000;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-img {
  fill: currentColor;
}
.name {
  width: 230px;
  height: 40px;
  background: #fcfcfc;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 8px;
  text-indent: 38px;
  border: 1px solid rgba(46, 47, 66, 0.2);
}
/* .tel {
  width: 230px;
  height: 40px;
  background: #fcfcfc;
  border: 1px solid #2e2f42;
  margin-bottom: 8px;
  margin-top: 4px;
  text-indent: 38px;
  font-size: 26px;
  border: 1px solid rgba(46, 47, 66, 0.2);
} */
.mobile-social-list {
  display: flex;
  gap: 35px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 40px;
  margin-top: 48px;
}
.mobile-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .email {
  width: 230px;
  height: 40px;
  background: #fcfcfc;
  margin-top: 4px;
  border: 1px solid #2e2f42;
  margin-bottom: 8px;
  text-indent: 38px;
  border: 1px solid rgba(46, 47, 66, 0.2);
} */
.email-border{

}

.modal-for-link{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 7px;
line-height: 8px;
letter-spacing: 0.04em;
color: var(--iris);
}
.comment {
  width: 360px;
  height: 120px;
  left: 0px;
  top: 216px;
  border: 1px solid #2e2f42;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid rgba(46, 47, 66, 0.2);
}
.modal-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding-top: 8px;
  padding-bottom: 4px;
  position: relative;
}
.text-modal {
  width: 230px;
  height: 24px;
  left: 540px;
  top: 152px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 34px;
}
.modal-form-checkbox{
  display: none;
}
.modal-form-custom-checkbox{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 2px solid var(--navyblue);
  margin-top: 16px;
  margin-bottom: 24px;
}
.modal-form-checkbox:checked + .modal-form-custom-checkbox{
background: #404BBF;
border: 1px solid #404BBF;
border-radius: 2px;
}
.modal-form-checkbox:checked + .modal-form-custom-checkbox .modal-form-checkbox-icon{
  opacity: 1;
  fill: var(--iris);
}
.modal-form-option-span{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 14px;
letter-spacing: 0.04em;
color: #8E8F99;
}
.button-send {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  display: block;
  /* padding: 16px 32px; */
  gap: 10px;
  width: 100px;
  height: 40px;
  background: var(--ocean);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-img-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45px;
  left: 19px;
  transform: translateY(-50%);
}
.form-comment {
  display: flex;
  justify-content: center;
  width: 230px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;
  margin-top: 4px;
  resize: none
}
.form-comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  opacity: 20;
} 


.name:focus {
  border: 1px solid #4d5ae5;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.name:focus + .modal-img-icon {
  fill: #4d5ae5;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.tel:focus {
  border: 1px solid #4d5ae5;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.tel:focus + .modal-img-icon {
  fill: #4d5ae5;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.email:focus {
  border: 1px solid #4d5ae5;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.email:focus + .modal-img-icon {
  fill: #4d5ae5;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.form-comment:focus {
  border: 1px solid #4d5ae5;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.section-one {
  margin: auto;
  /* max-width: 1200px; */
  background-color: var(--title-text-color);
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mobile-1Х.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 432px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-2X-mobile.jpg);
  }
}