@media screen and (min-width: 768px) { 
  .container { max-width: 768px; } 
  /* .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg@2x.jpg);
    margin: 0 auto;
    background-repeat: no-repeat;
  } */
  } 

